.card-control{
    padding-block: 30px;
    background-color: rgb(42, 42, 42) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}


.add-container{
    padding-left: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-container > button{
    height: 50px  !important;
    width: 100px !important;
    font-weight: bolder;
}




.card-control > .btn-container >input{
    height: 40px;
    width: 80px;
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-align: center;
    cursor:auto;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bolder;
}

.btn{
    text-align: center !important;
    height: 40px !important;
    width: 40px !important;
    border: none;
}

.add{
    text-align: center;
    
}