:root{
    --primary:  rgb(41,41,41);
    --secundario: rgb(29,29,29);
    --teciario: rgb(27,27,27);
    --orange: rgb(255,163,26);
    --orange_hover: rgb(253, 152, 0);
}

.navbar{
    background-color: var(--primary) !important;
    
}
.navbar-brand{
    color:rgb(253, 152, 0) !important;
}

a{
    color:rgb(253, 152, 0) !important;
}



.nav-link:hover {
    background-color: var(--orange) !important;
    color: var(--primary) !important;
    transition: background-color .5s !important;
}

.selected{
    background-color: var(--orange) !important;
    color: var(--primary) !important;
}